name: Mise en production

on:
  push:
    branches:
      - main

jobs:
  build:
    name: "Build de l'application"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@main
      - name: Setup java JDK
        uses: actions/setup-java@v5.0.0
        with:
          java-version: 17
          distribution: zulu
        
      
